.main{
	width: 1000px;
	height: auto;
	background:#F0F0E1;
	margin: 0px auto;
}
.main .head{
	width: 1000px;
	height: 100px;
	background:#ffffff;
}
.head .logo{
	width: 100px;
	height: 100px;
	float: left;
}
.head h2{
	float: left;
	margin-top: 30px;height: 30px;
	padding: 5px;margin-left:60px; padding-right: 30px;
	background-color: orange;  color: white;
}
.head .icon{
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-left: 10px;
	float: right;border: blue;
}
.main .menu{
	width: 1000px;height: 40px;background:lightgreen ;
}
.main .nav{
	list-style: none;
}
.nav li
{
	float: left;
	margin-left: 3px;
	padding: 10px;color: white;
	background:blue;width: 166px;
	text-align:center;height: 20px;text-rendering: optimizeLegibility;
	line-height: 40px;
}
.nav li a{
	color: white;
 text-decoration: none;
}
.nav li:hover{
background:orange;
font-size: 20px;
}
.main .slider{
	width: 1000px;
	height: 300px;
	background: #00D9D9 url(FOOD/bg1.jpg);
	background-size: 1000px 300px;
}
.main .content{
	width: 1000px;
	height: 300px;
	background: #00D9D9;
	background-size: 1000px 300px;
}
.content .left, .content .right{
		width: 250px;
	height: 300px;
	background: #A3D9D9;
	float: left;
}
.sidenav{
	list-style: none;
}
.sidenav li{
	background:#0086B3 url(FOOD/button.png);
	height: 40px;
	margin-top: 3px;color: white;
	text-align:center;text-rendering: optimizeLegibility;
	line-height: 40px;
	background-size: 139% 203px;
background-position: -86 -5px;
}
.sidenav li:hover{
background:url(FOOD/button. png);
background-size: 100% 200px;
background-position: -86 -3px;
}
.main .right{
	width: 250px;
	height: 300px;
	background: #A3D9D9;
	float: right;height: 20px;
	margin-left: 3px;
	padding-right: 3px;
	image-rendering: optimizeQuality;
}












